
body {
    background-color: $backgroundColor;
    font-family: $primaryFont;
}

.message {
    height: 3em;
    overflow: hidden;
    position: relative;
    top: -3em;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    background-color: #fee;
    border: 1px solid #c99;
    border-top: none;
    border-radius: 8px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    padding: 1em;
    box-sizing: border-box;
    transition: top 0.5s linear;

    &.show {
        top: 0;
    }

    &.success {
        background-color: #efe;
        border-color: #9c9;
    }
}

h1 {
    font-size: 4em;
    color: $titleTextColor;
    font-weight: normal;
    text-align: center;
}

main {
    width: 45%;
    margin: 2em auto 0 auto;
    box-shadow: 0px 9px 17px #ccc;
    margin-bottom: 5em;
    background-color: #fff;
    border: 1px solid #ddd;
}

.modal-cover {
    display: none;
    background-color: #000;
    opacity: 0.5;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}
.modal {
    display: none;
    position: absolute;
    top: 20%;
    left: 30%;
    width: 40%;
    border: 1px solid #333;
    border-radius: 20px;
    background-color: #fff;
    padding: 1.5em;
    z-index: 1;
    box-shadow: 1px 3px 8px #222;

    .close {
        float: right;
    }
}

@media screen and (max-width: 30em) {
    .message {
        width: 98%;
    }
    main {
        width: 90%;
    }
    .modal {
        top: 20%;
        left: 10%;
        width: 80%;
    }
}

@media screen and (min-width: 30.1em) and (max-width: 50em) {
    .message {
        width: 80%;
    }
    main {
        width: 70%;
    }
    .modal {
        top: 20%;
        left: 20%;
        width: 60%;
    }
}
